* {
    margin: 0;
    z-index: 1;
    font-family: "Handjet", sans-serif;
    font-weight: 600;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    background: url(./lib/img/background.jpg) center/cover;
}

.main {
    padding: 30px;
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 19px;
    gap: 30px;
    margin: 30px;
}

.header>a {
    text-decoration: none;
    color: #000;
    padding: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.637);
    border: 1px black solid;
    font-size: 25px;
    font-weight: 500;
    width: 245px;
    line-height: 38px;
    margin: 0;
    transition: transform 0.1s;
}

.header>a:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.header>a:not(:hover) {
    transform: scale(1);
}

.avatar {
    width: 150px;
    height: 150px;

    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    border-color: rgba(102, 194, 230, 0.025);
    box-shadow: 0px 5px 5px 0px rgba(148, 147, 147, 0.2);

    content: url("./lib/img/clown.gif");
    content: url("./lib/img/avatar.png");

    transition: transform 0.1s;
}

.avatar:hover {
    box-shadow: 0px 10px 14px 0px rgba(16, 44, 66, 0.2);

    transform: scale(1.1);

    content: url("./lib/img/clown.gif");

}

.avatar:not(:hover) {
    transform: scale(1);
    content: url("./lib/img/avatar.png");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 500;
}

.list,
.item {
    margin: 0 30px;
}

section {
    max-width: 85%;
    width: 400px;
    min-width: 40%;
    text-align: center;
    font-size: 25px;
    margin: auto;
    border: 1px solid #bfbfbf3c;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    gap: 15px;
    transition: transform 0.1s;
}

section:hover {
    box-shadow: 0 10px 14px 0 rgba(16, 44, 66, 0.2);
    transform: scale(1.01);
}

section:not(:hover) {
    transform: scale(1);
}

.flex-both-center {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-social {
    position: relative;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.637);
    border: 1px black solid;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 0.1s;
}

.page-social:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.page-social:not(:hover) {
    transform: scale(1);
}

.social-icon-anchor {
    width: 30px;
    height: 30px;
}

.social-icon-anchor>.displaced-left {
    position: relative;
    left: -2px;
}

.social-icon-anchor>.displaced-top {
    position: relative;
    top: -2px;
}