body {
    margin: 0;
    height: 100vh;
}

/* Header styles */
.cv__header {
    display: flex;
    flex-direction: column;
    height: 56px;

    margin: 0 120px;
    justify-content: center;
}

.header__container {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;

}

.header__name {
    color: var(--font-high-emphasis, #25282B);
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 180%;

    text-decoration: none;
}

.header__nav-list {
    display: inline-flex;
    align-items: flex-start;

    padding-top: 2px;
    gap: 48px;
}

.header__item {
    text-decoration: none;
    color: var(--font-high-emphasis, #25282B);

    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.header__item:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

/* Main section styles */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 38px 120px 144px;
}

.main__about {
    width: 590px;
    margin-top: 105px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.main__about_title {
    margin: 0;

    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
}

.main__about>p {
    margin: 0;

    align-self: stretch;
    color: #828282;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.main__picture-container {
    width: 524px;
    height: 524px;
}

.main__picture {
    border-radius: 50%;
    background: url(./images/profile.png) -45px 35px no-repeat;
    background-color: var(--brand-yellow, #FDC435);

    width: 524px;
    height: 524px;
}

.main__about_resume-btn {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;

    border-radius: 8px;
    background: var(--brand-yellow, #FDC435);

    color: #25282B;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
}

.main__about_resume-btn:hover {
    background: var(--brand-yellow, rgba(193, 158, 70, 1));
}

/* Projects section styles */

.projects__container {
    width: 400px;
    margin: 0 auto;
}

.project__title {
    text-align: center;

}

.projects__title_text {
    display: inline-block;
    margin: 0;

    color: var(--font-high-emphasis, #25282B);
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;

    position: relative;
    right: 11px;
}

.underline {
    width: 55%;
    height: 4px;
    background-color: var(--brand-yellow, #FDC435);
    margin: 5px auto 0;
}

.projects__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 80.5px;
}

.projects__field {
    display: flex;
    flex-direction: column;
    gap: 4.5px;
}

.projects__field>label {
    color: var(--font-high, #25282B);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.projects__field>input,
textarea {
    height: 40px;

    border-radius: 8px;
    border: 1px solid #E8ECF4;
    background: var(--bg-white, #FFF);

}

#form__message {
    height: 160px;
    resize: none;
}

.field__submit {
    align-items: flex-end;
}

.field__submit_btn {
    padding: 8px 24px;

    border: none;
    border-radius: 8px;
    background: var(--brand-yellow, #FDC435);
    color: var(--font-high-emphasis, #25282B);

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 150%;

    cursor: pointer;
}

.field__submit_btn:hover {
    background: var(--brand-yellow, rgba(193, 158, 70, 1));
}

/* Footer styles */
.footer {
    margin: 0;
    padding: 0;
    padding-top: 56px;
    color: white;
    text-align: center;

    padding-bottom: 241px;
    background: url(./images/footer-vector.svg) top no-repeat;
    background-size: cover;
}

.footer__nav_list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 20px;

}

.nav-list__item {
    text-decoration: none;
    font-size: 48px;
}

.icon-linkedin-circled {
    font-size: 51px;
    position: relative;
    bottom: 2px;
}

.nav-list__item>i {
    transition: 0.1s;
}

.nav-list__item:hover {
    transform: scale(1.1);
}

.nav-list__item:not(:hover) {
    transform: scale(1);
}

.footer__footnote {
    color: var(--font-medium-emphasis, #828282);
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer__backgound {
    width: 100%;
}