body {
  margin: 0;
  padding: 0;
  font-family: "Handjet", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  background-image: url(../lib/img/background.jpg);
  background-size: cover;
  text-align: left;
  word-spacing: 3px;
}

/* Style for the resume container */
.container {
  width: 80%;
  padding: 30px;
  margin: 30px auto;
}

/* Style for the resume title */
h1 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

/* Style for the resume subheadings */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

/* Style to clear the float */
.clear {
  clear: both;
}

/* Style for the resume paragraphs */
p {
  font-size: 18px;
  margin: 10px 0;
  color: #595959;
}

.back-btn {
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;

  text-decoration: none;
  color: black;
  font-size: 22px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.0s step-end;
}

.project-tile:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: 0.1s;
}

.project-tile:not(:hover) {
  transform: scale(1);
  transition: 0.1s;
}


h1 {
  text-align: center;
  padding: 30px;
}

a {
  color: #595959;
  text-align: center;
  font-size: 18px;
}